venv/
__pycache__/
*.pyc

# Local Database
storage/*.db


# Uploaded Data (Cloud Simulation)
cloud/data/*.enc
cloud/meta/*.json
cloud/keys/


# Audit Logs
audit/*.log

# IDE
.vscode/
.idea/
